<hr />
<footer class="site-footer">
    <p class="site-footer-owner">PrivacyStreams is initially developed by <a href="http://ylimit.github.io">Yuanchun Li</a>, under the advisory of <a href="http://www.cs.cmu.edu/~jasonh/">Jason Hong</a> and <a href="http://www.synergylabs.org/yuvraj/">Yuvraj Agarwal</a>.</p>
    <p class="site-footer-credits">This work is supported by <a href="http://cmuchimps.org/">© CHIMPS Lab</a> and <a href="http://www.synergylabs.org/">© SYNERGY Lab</a> at Carnegie Mellon University.</p>
    <span class="site-footer-credits">Icons, logos, and themes are from <a href="https://twitter.com/jasonlong">Jason Long</a>, Kaiyan Xu, and <a href="https://www.iconfinder.com/paomedia">Paomedia</a>.</span>
</footer>

<button onclick="topFunction()" id="toTopBtn" title="Go to top">Top</button>

<script src="{{site.baseurl}}/stylesheets/prism.js"></script>
<script src="{{site.baseurl}}/stylesheets/privacystreams.js"></script>